body{
    --main-bg-color: #7da1c4;
    --other-bg-color: black;
    --third-bg-color: gray;
    --header-margin: 10%;
    --header-margin-min: 150px;
    overflow: hidden;
}

#canvas1{
    width: 100%;
    height: 100vh;
    background: var(--other-bg-color);
    top: 0;
    left: 0;
}

/* For slider */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.drawing-tool{
    font-weight: bold;
    color: var(--other-bg-color);
    opacity: 0.65;
    text-align: center;
    justify-content: center;
    height:55px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.drawing-tool.active, .drawing-tool.always-active{
    opacity: 1;
}


#sidebar .drawing-tool:hover{
    opacity: 1;
    color: var(--main-bg-color)
} 

#sidebar .drawing-tool:hover{
    background: var(--other-bg-color)
} 

.columns.content-area{border:1px solid #111;padding:0}
.columns.sidebar{border:1px solid #111;padding:0}
.columns.left-nav{padding:0}
.icon-bar.vertical.six-up{width:100%}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
/* .form-container input {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
} */
