body{
    --main-bg-color: #7da1c4;
    --other-bg-color: black;
    --third-bg-color: gray;
    --header-margin: 10%;
    --header-margin-min: 150px;
    overflow: hidden;
}

#canvas1{
    width: 100%;
    height: 100vh;
    background: var(--main-bg-color);
    top: 0;
    left: 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.drawing-tool{
    font-weight: bold;
    color: var(--other-bg-color);
    opacity: 0.65;
    text-align: center;
    justify-content: center;
    height:55px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.drawing-tool.active, .drawing-tool.always-active{
    opacity: 1;
}


#sidebar .drawing-tool:hover{
    opacity: 1;
    color: var(--main-bg-color)
} 

#sidebar .drawing-tool:hover{
    background: var(--other-bg-color)
} 
/* 
.columns.content-area{border:1px solid #111;padding:0}
.columns.sidebar{border:1px solid #111;padding:0}
.columns.left-nav{padding:0}
.icon-bar.vertical.six-up{width:100%} */

.sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}
.sidebar i{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
/* .form-container input {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
} */
