{% extends "layout.html" %}

{% block title %}
    Home 
{% endblock %}

<!-- {% block main %}
    <canvas onload="pencil()" id="canvas1"></canvas>

    <div class = "modal" id = "loadDesignsOverlay">
        <div class = "modal-header"></div>
            <div class="modal-title">Choose design to Load </div>
            <button class="modal-close">&times;</button>
        <div class="modal-body">
            {% if canvas_data %}
            <ul class="nav nav-pills flex-column mb-auto">
                {% for data in canvas_data %}
                <li>
                    {{ data["drawing_name"] }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div id="overlay"></div>
    <script type = "text/javascript">
        var dataURL = '{{data.dataURL}}'
    </script>
{% endblock %} -->