body{
    --main-bg-color: #7da1c4;
    --other-bg-color: black;
    --third-bg-color: gray;
    --header-margin: 10%;
    --header-margin-min: 150px;
    --sidenav-width: 160px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}


.sidebar{
    position:fixed;
    height:100%;
    top:0;
    left:0;
    width: var(--sidenav-width);
    background-color: var(--other-bg-color);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

/* Logo */

.logo_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logo img{
    filter: invert(100%);
    height: 75px;
}

/* Sidebar Content */

.sidebar ul{
    margin-top: 20px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
}

.sidebar li{
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
}
/* .user_functions li{
    margin-top: auto;
} */

.sidebar li:hover{
    background: grey;
    text-decoration: none;
}

.sidebar li.active{
    background: white;
    text-decoration: none;
}
.sidebar li.active .links_name, .sidebar li.active i{
    color: black;
}
    
.sidebar a i{
    height: 50px;
    min-width: 50px;
    border-radius: 8px;
    line-height: 50px;
    /* text-align: center; */
}


/* Main content */

.canvas_container{
    position: relative;
    height: 100vh;
    left: var(--sidenav-width);
    width: 100%;
    background: var(--main-bg-color);
}


/* The popup form - hidden by default */
.modal {
    display: none;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
}

.modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: #f2f2f2;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}

.form-group{
    padding: 5px;
}
/* .trigger-btn {
	display: inline-block;
	margin: 100px auto;
} */
